<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Header font -->
    <link href="https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap" rel="stylesheet">
    <!-- paragraph font -->
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>that_tech_blogger</title>
</head>
<body>
    <header>        
        <div>
            <div>
                <h1>That Tech Blogger</h1>
            </div>
        </div>
         
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {{#if loggedIn}}
                    <li><a href="/dashboard">Dashboard</a></li>
                    <button id="logout"><li>Log out</li></button>
                {{else}}        
                    <li><a href="/login">Login</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>

    <main>
        {{{ body }}}
    </main>

    <footer></footer>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
</html>