<div class="outer-border">
    <div class="inner-border">
        <div class="start-message">
            <h2>Welcome to Tek_blog</h2>
            <p>Please sign in or create an account to get started! (: </p>
        </div>
    </div>
</div>