<div class="login-logout-container">
  <form class="form login-form">
    <div>
      <label for="email-login">email:</label>
      <input type="text" id="email-login" />
    </div>
    <div>
      <label for="password-login">password:</label>
      <input type="password" id="password-login" />
    </div>
    <div class="login-btn">
      <button type="submit" id="sign-up">login</button>
    </div>
  </form>

<form class="form signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div class="login-btn">
    <button type="submit" id="log-in">signup</button>
  </div>
</form>
<script src="/javascript/login.js"></script>
</div>