<div class="login-logout-container">
    <form class="form" id="log-in">
        <div>
            <label for="email-login">email:</label>
            <input type="text" id="email-login" />
        </div>
        <div>
            <label for="password-login">password:</label>
            <input type="password" id="password-login" />
        </div>
        <div class="login-btn">
            <button type="submit">login</button>
        </div>
    </form>

    <form class="form" id="sign-up">
        <div>
            <label for="username-signup">username:</label>
            <input type="text" id="username-signup" />
        </div>
        <div>
            <label for="email-signup">email:</label>
            <input type="text" id="email-signup" />
        </div>
        <div>
            <label for="password-signup">password:</label>
            <input type="password" id="password-signup" />
        </div>
        <div class="login-btn">
            <button type="submit">signup</button>
        </div>
    </form>
    <script src="/javascript/login.js"></script>
</div>