<div class="single-post-handeler">
  {{> post-info post}}

  <form class="comment-form">
    <div class="comment-body-handler">
      <textarea name="comment-body"></textarea>
    </div>

    <div class="btn">
      <button type="submit">add comment</button>
      <button type="button" class="upvote-btn">upvote</button>
    </div>
  </form>
</div>

{{> comments post.comments}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>